*{
margin:0;
font-family: Arial, Helvetica, sans-serif ;
border: border-box;
}
.navbar{
  height: 60px;
  background-color: #0f1111;
  color: white;
  display:flex;
}
.nav-logo{
  height: 50px;
  width: 100px;
}
.logo{
  background-image: url("assets/amazon_logo.png");
  height: 50px;
  width: 100px;
  background-size: cover;
}
.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
  cursor: pointer;
}

.address-1{
  color:#cccccc;
}
.nav-country{
  display: flex;
}
.address-2{
  color:white;
}